# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# OS
.DS_Store
Thumbs.db

# Virtual environment
churn-env/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# Data & models
data/
models/
*.pkl
*.joblib
